<!DOCTYPE html>
<html class="box-border w-full h-full border-2 border-zinc-50">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Cycle Rocks!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex pt-20 justify-center items-start bg-zinc-950 text-zinc-50">
  {{{body}}}
</body>
</html>